/* General Typography
 ---------------------------------------------------------------------*/
html, body
{
	font-size: 12px;
	line-height: 21px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: #100800;
}

h1
{
	font-weight: bold;
	color: #007ac3;
	font-size: 2em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h2
{
	color: #1371aa;
	font-weight: bold;
	font-size: 1.6666em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h3
{
	color: #1371aa;
	font-size: 1.41667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .75em 0;
}

h4
{
	color: #000;
	font-size: 1.1667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h5
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h6
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
	line-height: 1.75em;
}

p
{
	font-size: 1em;
	line-height: 1.75em;
	margin: .25em 0 1.5em;
}
td, td a, th, th a, span
{
	line-height: 1.3333em;
}

blockquote
{
	margin: .416em 0 .416em 1.1667em;
}

a
{
	color: #0e82c7;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

a:hover
{
	text-decoration: underline;
}

header ul li{
	font-size: 18px;
	line-height: 45px;
}
ul, ol
{
	margin: .833em 0;
	padding-left: 2em;
}
ul
{
	list-style-type: disc;
}
ol
{
	list-style-type: decimal;
}
ul li, ol li
{
	line-height: 1.5em;
}

dt
{
	margin: .416em 0 0 0;
}

dd
{
	margin: .416em 0 .416em 1.1667em;
}

pre, code, tt
{
	font-family: "Andale Mono" , "Lucida Console" , "Courier New" , Courier, monospace;
	margin: .833em 0;
}
sub
{
	vertical-align: sub;
	font-size: smaller;
	line-height:inherit;
}

sup
{
	vertical-align: super;
	font-size: smaller;
	line-height:inherit;
}

/* Page Specific
 ---------------------------------------------------------------------*/

#container 
{

margin:0 auto 10px;
text-align:left;
width:1000px;
}
.breadCrumbHolder
{
	margin:0 0 20px 0;
}
pre
{
	background:#ddd;
	border:solid 1px #fff;
	padding:10px;
	color:#111;
}
.description
{
	float:left;
	width:700px;
	margin-right:20px;
}
.sideBar
{
	float:left;
	background:#fff;
	border:solid 1px #dedede;
	padding:20px;
	width:238px;
	margin:50px 0 0 0;
}
.license p
{
	font-size:0.83333em;
	color:#888;
}

history {
	font-size: 1em; on-mouse-over:bold;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#viewMainMenu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; }
#viewMainMenu a { color:#fff; text-decoration:none; }
#viewMainMenu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 10px;}
#viewMainMenu > li:hover {color:#B0D730;}
#viewMainMenu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
/* sub-menus*/
#viewMainMenu ul { padding:0px; margin:0px; display:block; display:inline;}
#viewMainMenu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; width:150px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
#viewMainMenu li:hover ul { display:block;}
#viewMainMenu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
#viewMainMenu li ul li:first-child { border-top: none; }
#viewMainMenu li ul li a { display:block; color:#0395CC; }
#viewMainMenu li ul li a:hover { color:#7FCDFE; }
/* main submenu */
#viewMainMenu #main { left:0px; top:-20px; padding-top:20px; background-color:#7cb7e3; color:#fff; z-index:999;}
/* search */
.searchContainer div { background-color:#fff; display:inline; padding:5px;}
.searchContainer input[type="text"] {border:none;}
.searchContainer img { vertical-align:middle;}
/* corners*/
#viewMainMenu .corner_inset_left { position:absolute; top:0px; left:-12px;}
#viewMainMenu .corner_inset_right { position:absolute; top:0px; left:150px;}
#viewMainMenu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
#viewMainMenu .corner_left { position:absolute; left:0px; top:0px;}
#viewMainMenu .corner_right { position:absolute; left:132px; top:0px;}
#viewMainMenu .middle { position:absolute; left:18px; height: 20px; width: 115px; top:0px;}

/*Seiteneigenschaften */

html, body{
	height: 100%;
   	margin: 0px;
}

#container{
	width: 100%;
	height: 100%;
}

<!--Texteigenschaften-->
a {
	font-family:Palatino; 
	text-decoration:none
}


.runtext {
	color: #543924;
	font-family: Palatino;
	font-size: 14px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-link {
	color: #543924;
	font-family: Palatino;
	font-size: 14px;
	font-weight: lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-link:hover {
	color:#83654e;
	font-family: Palatino;
	font-size: 14px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-link-active {
	color: #83654e;
	font-family: Palatino;
	font-size: 14px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-small {
	color: #543924;
	font-family: Palatino;
	font-size: 12px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-link-small {
	color: #543924;
	font-family: Palatino;
	font-size: 12px;
	font-weight: lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-link-small:hover {
	color:#83654e;
	font-family: Palatino;
	font-size: 12px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.runtext-link-small-active {
	color: #83654e;
	font-family: Palatino;
	font-size: 12px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.footer {
	color:#201000;
	font-family:Palatino;
	font-size: 11px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.footer-link {
	color:#201000;
	font-family:Palatino;
	font-size: 11px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}
.footer-link:hover {
	color:#775a33;
	font-family:Palatino;
	font-size: 11px;
	font-weight:lighter;
	line-height:normal;
	text-decoration:none;
}

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}


