<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <mapping class="com.chaos.jpa.User"/>
  <mapping class="com.chaos.jpa.UserRole"/>
  <mapping class="com.chaos.jpa.Tag"/>
  <mapping class="com.chaos.jpa.Brand"/>
  <mapping class="com.chaos.jpa.BrandTag"/>
  <mapping class="com.chaos.jpa.Level"/>
  <mapping class="com.chaos.jpa.Country"/>
  <mapping class="com.chaos.jpa.Location"/>
  <mapping class="com.chaos.jpa.LocationTag"/>
  <mapping class="com.chaos.jpa.Racket"/>
  <mapping class="com.chaos.jpa.RacketTag"/>
  <mapping class="com.chaos.jpa.UserDetail"/>
 </session-factory>
</hibernate-configuration>
