<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	<import resource="dataAccessContext.xml" />
	<context:component-scan
		base-package="com.phoenix.controller,com.phoenix.service.impl" />
	<aop:aspectj-autoproxy />
	<bean name="exceptionHandler" class="com.chaos.util.ExceptionLogger" />

	<mvc:annotation-driven />

	<!-- Declare a view resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix">
			<value>.ftl</value>
		</property>
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.freemarker.FreeMarkerView
			</value>
		</property>
	</bean>
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="WEB-INF/message/loginMessages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="freemarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="freemarkerSettings">
			<props>
				<prop key="auto_import">spring.ftl as spring</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="tag_syntax">square_bracket</prop>
			</props>
		</property>
		<property name="templateLoaderPath">
			<value>/WEB-INF/freemarker/</value>
		</property>
		<!-- <property name="freemarkerSettings">如果模板不经常更新，此属性设置更新延迟时间 <props> 
			<prop key="template_update_delay">3600</prop> </props> </property> -->
	</bean>

	<bean id="mapper" class="com.chaos.util.EnhancedMapper">
		<property name="mappingFiles">
			<list>
				<value>dozer-mapping.xml</value>
			</list>
		</property>
	</bean>
</beans>